@font-face {
    font-family: test;
    src: url(zh-cn.ttf);
}
@media (min-aspect-ratio: 16/9) {
    #video {
        width: 100%;
        height: auto; 
    }
    #margin {
        width: 100;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #video {
        width: auto;
        height: 100%;
    }
    #margin {
        width: auto;
        height: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    z-index: -1;
    width: 100%;
    height: auto;
}



.center {
    position: absolute;
    font-family: test;
    text-align: center; 
    font-size: 100px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
   position: absolute;
   font-family:test;
   font-size: 80px;
   color: white;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: 50px;
    margin: 20px; 
}
  
.topleft {
    flex-grow: 5;
    position: relative;
    left: 30px;
    top: 30px;
}

.topright  {
    flex-grow: 0.125;
    position: relative;
    bottom: 10px; 
}

.margin { 
    background-image: url("hilichurl.jpg");
    background-size: cover;
}

.containertwo {
    display: flex;
    flex-direction: row;
    padding: 150px;
}

.item {
    background-color: rgba(0,0 ,0, 0.2);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    flex: 2;
    border: 10px solid rgba(0,0,0,0.5);
    font-family: test;
    color: white; 
    margin: 60px; 
    padding: 60px; 
}

.containerthree {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.containerthree iframe {
    position: absolute; 
    width: 80%;
    height: 80%;
}